
@{
    ViewBag.Title = "VisaHome";
}

<h2>VisaHome</h2>

<div class="row">
    <div class="col-md-12">
        <h2>PERM Forum</h2>
        <form method="post">
            <p>

                Comments @Html.TextArea("comment");
                <input type="submit" value="Submit" />

            </p>
        </form>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
   
</div>